.meal{
    /* height: 92vh; */
    background-color:rosybrown;
    /* text-align: center; */
}

.meal__header{
    padding-top: 8px;
    text-align: center;
}

.meal__img{
    width: auto;
    max-width: 350px;
    height: auto;
    max-height: 300px;
    border-radius: 10px;
}

.meal__details{
    padding-top: 8px;
    display: flex;
    justify-content: space-around;
}

.meal__instructions{
    width: 33%;
}


/* dateModified: null
idMeal: "52874"
strArea: "British"
strCategory: "Beef"
strDrinkAlternate: null

strMealThumb: "https://www.themealdb.com/images/media/meals/sytuqu1511553755.jpg"

strSource: "https://www.bbc.co.uk/food/recipes/beef_and_mustard_pie_58002"
strTags: "Meat,Pie"
strYoutube: */