/* .navbar__cont{
    background-color: #003049;
    height: 8vh;
}

.navbar{
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
}

.navbar > div{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.divider {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: auto;
    margin-bottom: auto;
    border-left: 2px solid #022140;
    border-radius: 2px;
    height: 45%;
  }

.navbar__right{
    display: flex;
    justify-content: space-around;  
} */