$primaryColor: #EAE2B7;
$secondaryColor: #D62828;
$blueColor: #003049;
$orangeColor: #F77F00;

$containerHeight: 92vh;

$navBarText: whitesmoke;
$primaryFont: 'Poppins', sans-serif;

@mixin flexCenter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 18%;
    padding-right: 18%;
    padding-top: 20px;
}

@mixin cards {
    flex: 0 0 25%;
    cursor: pointer;
    color: $secondaryColor;
    font-weight: bolder;
    padding: 4px;
    text-align: center;
    background-color: #fff5d6;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

@mixin imgProps($maxWidth, $maxHeight, $borderRad) {
    width: auto;
    max-width: $maxWidth;
    height: auto;
    max-height: $maxHeight;
    border-radius: $borderRad;
}

.App{

    .navbar__cont{
        background-color:  $blueColor;
        height: 8vh;

        .login__manue{
                margin-top: 16px;
                border: 1px solid lightgrey;
                outline-width: 0;
                flex: 1;
                border-radius: 30px;
                padding: 10px;
                font-family: 'Poppins', sans-serif;
        }

        .navbar{
            display: flex;
            justify-content: space-around;
            font-family: $primaryFont;
            
            h1{
                color: $secondaryColor;
            }

            button{
                color: $navBarText;
            }
            
            .navbar__right{
                display: flex;
                justify-content: space-around;
                align-items: center;
                .overlay-effect{
                    
                    button{
                        font-family: $primaryFont;
                        font-weight: bolder;
                        margin-right: 4px;
                        border: 1px solid $navBarText;
                        color: $navBarText;
                        border-radius: 20px;
                        transition: .5s ease-in-out;
                        background-color: transparent;
                        // overflow:hidden;
                    }

                    &:hover button {
                        cursor: pointer;
                        background-color: $secondaryColor;
                    }
                }
            }
        }
    }
    
    .navbar > div{
        margin-top: 8px;
    }

    .body{
        background-color: $primaryColor;
        height: $containerHeight;
        text-align: center;
        .body__search_box{
            padding-top: 24px;
            input{
                outline-width: 0;
                border-radius: 30px;
                padding: 10px;
                border: none;
            }
            button{
                border: none;
                outline-width: 0;
                color: #65baff;
            }
        }
        
        .body__cats{
            @include flexCenter();
        }
        
        .body__cats__indiv{
            @include cards();
            margin: 16px 8px 16px 8px;

            img{
                @include imgProps(150px, 100px, 10px);
            }
            p{
                font-family: $primaryFont;
            }
        }
    }

    .category{
        background-color: $primaryColor;
        height: $containerHeight;
        display: flex;
        flex-direction: column;

        .category__cont{
            flex: 1;
            @include flexCenter();
            
            .cat__dish{
                @include cards();
                
                img{
                    @include imgProps(250px, 200px, 50%);

                    &:hover{
                        border-radius: 10px;
                        transition: all 0.3s ease-in-out;
                    }
                }

                p{
                    max-width: fit-content;
                    font-family: $primaryFont;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }

        .pagination{
            display: flex;
            width: 50%;
            justify-content: space-evenly;
            padding-bottom: 24px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            .page-item {
                cursor: pointer;
                background-color: $blueColor;
                border: 1px solid black;
                color: whitesmoke;
                width: 20px;
                height: 20px;
                padding: 4px;
                border-radius: 50%;
                box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
    }

    .meal{
        height: $containerHeight;
        background-color:$primaryColor;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .mustLogin__alert{
            margin-top: 60px;
        }

        .meal__header{
            padding-top: 24px;
            text-align: center;
            font-family: $primaryFont;
            display: flex;
            justify-content: center;
            
            img{
                @include imgProps(350px, 300px, 10px);
                flex: 1;
            }

            .meal__info{
                margin-left: 16px;
                .cat__span{
                    color: $secondaryColor;
                }
                a{
                    text-decoration: none;
                    color: $blueColor;
                }
                .meal__opts{
                    font-weight: bolder;
                    color: $blueColor;
                    button{
                        margin-left: 4px;
                    }
                }
            }

        }

        .meal__details{
            display: flex;
            justify-content: space-evenly;
            font-family: $primaryFont;

            .meal__instructions{
                width: 50%;
            }

            .meal__ingredients{
                p{
                    color: $blueColor;
                }
                span{
                    color: $secondaryColor;
                    font-weight: bolder;
                }
            }
        }

    }

}